<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SportShopDbConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;
			 Initial Catalog=SportShop;
			 Integrated Security=True;
			 Connect Timeout=30;Encrypt=False;"/>

	</connectionStrings>
</configuration>